a {
  color: #fff !important;
}

.container {
  width: 100%;
  padding: 18px;
  text-align: center;
  height: 100vh;
  background-color: #fbfafb;
}

.resultGif {
  max-height: 300px;
  margin-bottom: 40px;
}

.waveform_container {
  height: 256px;
  background-color: #fbfafb;
}
