.host {
  background-color: #1976d2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navItem {
  padding: 8px;
  button {
    color: #fff;
    font-size: 0.8em;
    display: block;
    padding: 0;
  }
  p {
    margin: 0;
  }
  svg {
    display: block;
    margin: auto;
    fill: #fff;
  }
}
