.host {
  background-color: #1976d2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navItem {
  padding: 8px;
  a {
    text-decoration: none;
  }
  button {
    color: #fff;
  }
}
