html,
body,
.root,
.app,
.app-main {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

.app-main {
  box-sizing: border-box;
  padding-top: 40px;
}
